{% extends "base.html" %}
{% load static %}

{% block content %}
    <article class="event-detail">
        <header class="event-header">
            <h1 class="event-title">{{ event.title }}</h1>
            <div class="event-datetime-container">
                <time datetime="{{ event.datetime }}" class="event-datetime">
                    {{ event.datetime|date:"F j, Y \a\t g:i A" }}
                </time>
            </div>
        </header>
        
        <div class="event-content">
            {% if event.image %}
            <div class="event-image-container">
                <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
            </div>
            {% endif %}
            <div class="event-info">
                <div class="event-description">
                    {{ event.description|safe }}
                </div>
                
                {% if event.location %}
                <section class="event-location">
                    <h2 class="info-title"><i class="fas fa-map-marker-alt"></i> Plats</h2>
                    <p>{{ event.location }}</p>
                </section>
                {% endif %}
                
                {% if event.organizer %}
                <section class="event-organizer">
                    <h2 class="info-title"><i class="fas fa-user"></i> Arrangör</h2>
                    <p>{{ event.organizer }}</p>
                </section>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock content %}
