{% load static %}

<footer>
    <div class="bottom-container">
        <section class="contact-info">
            <h3>Kontakt</h3>
            <p>
                Debatthuset c/o Panarki AB<br>
                Barlastgatan 3<br>
                414 63 Göteborg
            </p>
            <p>
                <a href="mailto:info@debatthuset.se">info@debatthuset.se</a>
            </p>
        </section>
        <section class="social-media">
            <h3>Sociala medier</h3>
            <p>
                <a href="https://www.facebook.com/debatthuset/">Facebook</a><br>
                <a href="#">Meetup</a><br>
                <a href="#">Telegram</a>
            </p>
        </section>
    </div>
</footer>
</body>
</html>


<!-- START: Scripts -->

<!-- Object Fit Images -->
<script src="{% static 'vendor/object-fit-images/dist/ofi.min.js' %}"></script>

<!-- Popper -->
<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Fancybox -->
<script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

<!-- Cleave -->
<script src="{% static 'vendor/cleave.js/dist/cleave.min.js' %}"></script>

<!-- Validator -->
<script src="{% static 'vendor/validator/validator.min.js' %}"></script>

<!-- Sticky Kit -->
<script src="{% static 'vendor/sticky-kit/dist/sticky-kit.min.js' %}"></script>

<!-- Jarallax -->
<script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'vendor/jarallax/dist/jarallax-video.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'vendor/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>

<!-- ImagesLoaded -->
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

<!-- Swiper -->
<script src="{% static 'vendor/swiper/dist/js/swiper.min.js' %}"></script>

<!-- Gist Embed -->
<script src="{% static 'vendor/gist-embed/gist-embed.min.js' %}"></script>

<!-- Bootstrap Select -->
<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<!-- Dropzone -->
<script src="{% static 'vendor/dropzone/dist/min/dropzone.min.js' %}"></script>

<!-- Quill -->
<script src="{% static 'vendor/quill/dist/quill.min.js' %}"></script>

</body>

</html>