{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="about">
        <section class="find-place">
            <h3>Hitta hit</h3>
            <p>Vi håller till på <b>Barlastgatan 3</b> i Göteborg.</p>
            <p>Närmaste hållplatser är Masthugget och Stigbergstorget.</p>
            <p class="location-tools">
                <a href="https://www.google.com/maps/search/?api=1&query=Barlastgatan+3%2C+G%C3%B6teborg">Google Maps</a>
            </p>
        </section>
        <section class="organisations">
            <h3>Verksamma organisationer</h3>
            <p>I Debatthuset verkar följande organisationer:</p>
            <ul class="organisations-list">
                <li>
                    <a href="https://debattnytt.se/" class="link-debattnytt"><img 
                        src="{% static 'images/graphics/debattnytt-logo-alt.svg' %}" 
                        alt="DebattNytts logotyp"
                    ></a>
                </li>
                <li>
                    <a href="https://ungfilosof.se/" class="link-ung-filosof"><img 
                        src="{% static 'images/graphics/ung-filosof-logo.svg' %}"
                        alt="Ung Filosofs logotyp"
                    ></a>
                </li>
            </ul>
        </section>
    </section>
    <section class="activities">
        <h2>Aktiviteter</h2>
        <div class="events">
            {% for event in events %}
                <article class="event">
                    <a href="{% url 'event-detail' event.id %}">
                        <img 
                            src="{{ event.image.url }}" 
                            alt="{{ event.title }}" 
                            class="cover-image"
                        >
                    </a>
                    <div class="event-info">    
                        <h3>{{ event.title }}</h3>
                        <time datetime="{{ event.datetime }}">{{ event.datetime|date:"Y-m-d H:i" }}</time>
                        <div class="description">
                            {{ event.description|safe }}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
