{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="dx-main">
    <div class="dx-box-5 pb-100 bg-grey-6">
        <div class="container">
            <div class="row vertical-gap md-gap">
                <div class="col-lg-12">
                    <div class="dx-box dx-box-decorated">
                        <div class="dx-blog-post">
                            <div class="dx-blog-post-box pt-30 pb-30">
                                <h2 class="h4 mnt-5 mb-9">All Groups</h2>
                            </div>
                            <div class="table-responsive">
                                <table class="dx-table dx-table-default">
                                    <thead>
                                        <tr>
                                            <th scope="col">Group Name</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Members</th>
                                            <th scope="col">Created Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for group in all_groups %}
                                        <tr>
                                            <th scope="row">
                                                <a href="{% url 'forum:group-profile' group.id %}" class="dx-table-default-title">{{ group.name }}</a>
                                            </th>
                                            <td>{{ group.description }}</td>
                                            <td>{{ group.members.count }}</td>
                                            <td>{{ group.created_date|date:"F j, Y" }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}